<?xml version="1.0" ?>
<launch>

<param name="Hrtz_Rate" value="100" type="int"/>

<node name="signal_generator" pkg="basic_comms" type="signal_generator.py">
<param name="Resolution" value="1" type="double"/>
</node>

<node name="process" pkg="basic_comms" type="process.py">
<param name="Phasing" value="90" type="double"/>
<param name="Scaling" value="2" type="double"/>
</node>

</launch>